<div class="sidegig-header">
  <h1>Welcome to the Sidegigs Page!</h1>
</div>
<p>Here you will find a directory of options to make extra money on the side!</p>
<table style="width:100%">
  </tr>
  <tr>
    <td><%= image_tag 'uber.jpeg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'lyft.jpg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'doordash.jpg', height: '200px', width: '300px' %></td>
  </tr>
  <tr>
    <td><h3><a href="http://www.uber.com/drive/" target="_blank">Uber</a></h3></td>
    <td><h3><a href="http://www.lyft.com/" target="_blank">Lyft</a></h3></td>
    <td><h3><a href="http://www.doordash.com/dasher/signup/Tuan-Dong-7649/?gclid=CjwKCAiA693RBRAwEiwALCc3u6xX53g_IJ-j5jCVlRPLHY-mIjDf2CDvOQi875E1efhkQTerUQsc-BoC6E4QAvD_BwE" target="_blank">Doordash</a></h3></td>
  </tr>
  <tr>
    <td><%= image_tag 'postmates.jpeg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'wag.jpeg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'ebay.jpeg', height: '200px', width: '300px' %></td>
  </tr>
  <tr>
    <td><h3><a href="http://fleet.postmates.com/?utm_source=google&utm_medium=cpc&utm_term=%7Bkeyword%7D&utm_content=search&utm_campaign=Google_D_PS_Search_OC_Supply_CPC_BMM_All&gclid=CjwKCAiA693RBRAwEiwALCc3u8IS3427y69y7sK07eYJxOO_0H0wa5q5o9_J0GWQufGelUlhVhQ1yhoCOIcQAvD_BwE" target="_blank">Postmates</a></h3></td>
    <td><h3><a href="http://wagwalking.com/dog-walker" target="_blank">Wag</a></h3></td>
    <td><h3><a href="http://www.ebay.com/" target="_blank">Ebay</a></h3></td>
  </tr>
  <tr>
    <td><%= image_tag 'mturk.jpeg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'etsy.jpeg', height: '200px', width: '300px' %></td>
    <td><%= image_tag 'fiverr.jpg', height: '200px', width: '300px' %></td>
  </tr>
  <tr>
    <td><h3><a href="http://www.mturk.com/" target="_blank">Mechanical Turk</a></h3></td>
    <td><h3><a href="http://www.etsy.com/sell" target="_blank">Etsy</a></h3></td>
    <td><h3><a href="http://www.fiverr.com/start_selling" target="_blank">Fiverr Dont Forget Airbnb</a></h3></td>
  </tr>
</table>
