<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>
<head>
  <title>Finanzer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111861975-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111861975-1');
  </script>
</head>
<body>
  <div class='navbar'>
    <%= link_to "Home", root_path, :class => 'navbar-link'  %>
    <%= link_to "About", about_path,:class => 'navbar-link'  %>
    <%= link_to "Topics", topics_path %>
    <%= link_to "Side Gigs", sidegig_index_path,:class => 'navbar-link'  %>
    <div class = "pull-right user-info">
      <% if user_signed_in? %>
       <strong> <%= link_to current_user.email, user_path(current_user) %></strong>
       <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>
        <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="container-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Rob's ad 3 -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1158355279235376"
       data-ad-slot="3768721838"
       data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  <% else %>
    <div>
  <% end %>
      <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
      <%= yield %>
     </div>
     <% if user_signed_in? %>
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <!-- Rob's ad 3 -->
         <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-1158355279235376"
          data-ad-slot="3768721838"
          data-ad-format="auto"></ins>
         <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
         </script>
      <% end %>
</body>
</html>
